# Ignore everything by default
**

# Include the extension manifest and docs
!package.json
!README.md
!LICENSE
!images/**

# Include the grammars, which are read from the package as they are
!syntaxes/**

# Include the compiled output
!dist/**
